<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Jobify</title>
</head>
<body>

    <section class="banner">
        <a href="/"><img src="image/Logo.png" alt="Jobify - join us"></a>
        <div class="title"></div>
        <h2>We are Jobify - Join us </h2>
    </div>
</section>