<%- include('header') %>


    
<% })%>
    <section class="jobs">
        <div class="jobs-title">
            <h2>Open roles:</h2>
            <% rows.forEach(categoria => { %>
        </div>
        <div class="itens">
            <h3><%- categoria.categoria %></h3>
            <ul>
                                 
            </ul>  
        </div>
        <% }) %>
    </section>


 

   


    <%- include('footer') %>