<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vaga</title>
</head>
<body>
<%- include('header') %>

    <section class="jobs">
        <div class="jobs-title">
            <h2>Categória: Engieering team</h2>
        </div>
        <div class="itens">
            <h3>Fullstack Developer(Remote)</h3>
            <p class="desc-title">Descrição</p>
            <div class="descrição">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae corporis reiciendis dignissimos voluptas praesentium veniam? Assumenda neque accusamus molestias sed!</p>
            </div>
            
        </div>
      
        </div>
    </section>
    
    <%- include('footer') %>